<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post | Mini Messageboard</title>
    <link rel="stylesheet" href="new-styles.css">
</head>
<body>
    <h2>New Message</h2>
    <form method="POST" action="/new">
        <input name="username" type="text" placeholder="User:">
        <input name="message" type="text" placeholder="Message:">
        <button class="submit-btn">Submit</button>
    </form>
</body>
</html>